<h1>Welcome to Ask n Answer</h1>

{% if latest_question_list %}
  <ul>
    {% for question in latest_question_list %}
      <li><a href="{% url 'stack:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>No qustions are asked.</p>
{% endif %}

<button onclick="show(questionForm)">Ask a question</button>

<form id="questionForm" style="display:none" action="{% url 'stack:ask_question' %}" method="post">
  {% csrf_token %}
  <label>Write your question</label>
  <input type="textarea" name="question" value="" />
  <input type="submit" value="Save"  />
</form>

{% load static %}
<script src="{% static 'stack/js/script.js' %}">

</script>
